<section class="container-fluid headerBg">
  <div class="container">
    <div class="row titleHeader">
      <div class="col-sm">
        <i class="fab fa-old-republic"></i>
        <a href="#" class="titleLink">facebook / react</a>
      </div>
      <div class="col-sm text-right">
        <div class="headerIcon">
          <a href="#" class="innerLeft">
            <i class="fas fa-eye"></i> Watch
            <i class="fas fa-sort-down"></i>
          </a>
          <a href="#" class="innerRight">6,136</a>
        </div>
        <div class="headerIcon">
          <a href="#" class="innerLeft">
            <i class="fas fa-star"></i> Unstar</a>
          <a href="#" class="innerRight">6,136</a>
        </div>
        <div class="headerIcon">
          <a href="#" class="innerLeft">Fork</a>
          <a href="#" class="innerRight">6,136</a>
        </div>
      </div>
    </div>
    <div class="row headerTabs">
      <div class="col-sm">
        <nav>
          <ul class="headerLink">
            <li>
              <a href="#">
                <i class="fas fa-angle-left"></i><i class="fas fa-angle-right"></i> Code</a>
            </li>
            <li>
              <a href="#" class="active">
                <i class="fas fa-exclamation-circle"></i> Issues <span class="badge badge-pill badge-light">391</span></a>
            </li>
            <li>
              <a href="#">
                <i class="fas fa-code-branch"></i> Pull Requests <span class="badge badge-pill badge-light">91</span></a>
            </li>
            <li>
              <a href="#">
                <i class="fas fa-project-diagram"></i> Projects <span class="badge badge-pill badge-light">0</span></a>
            </li>
            <li>
              <a href="#">
                <i class="fas fa-book-open"></i> Wiki</a>
            </li>
            <li>
              <a href="#">
                <i class="far fa-chart-bar"></i> Insights</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="row searchFilters">
    <div class="col-sm-5 issueSearch">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filters</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder=" is:issue is:open">
      </div>
    </div>
    <div class="col-sm switchBtn">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">Labels</button>
        <button type="button" class="btn btn-secondary">Milestones</button>
      </div>
    </div>
    <div class="col-sm newIssue">
      <button type="button" class="btn btn-success float-right">New Issue</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <i class="fas fa-exclamation-circle"></i>
      <span>391 Open</span>
      <span>
        <i class="fas fa-check"></i> 5,749 closed</span>
    </div>
    <div class="col-sm-8">
      <ul>
        <li>
          <a href="#">Author
            <i class="fas fa-sort-down"></i>
          </a>
        </li>
        <li>
          <a href="#">Labels
            <i class="fas fa-sort-down"></i>
          </a>
        </li>
        <li>
          <a href="#">Projects
            <i class="fas fa-sort-down"></i>
          </a>
        </li>
        <li>
          <a href="#">Milestones
            <i class="fas fa-sort-down"></i>
          </a>
        </li>
        <li>
          <a href="#">Assignee
            <i class="fas fa-sort-down"></i>
          </a>
        </li>
        <li>
          <a href="#">Sort
            <i class="fas fa-sort-down"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <ul class="dataRow">
        <li class="row">
          <div class="float-leftcpt-2 pl-3">
            <i class="fas fa-exclamation-circle"></i>
          </div>
          <div class="float-left col-9 lh-condensed p-2">
            <strong> Using keyboard events impedes media recodrings</strong>
            <br>
            <span class="ml-4">#13238 opened 5 hours ago by Je4hel</span>
          </div>
          <div class="float-right col-2">
            <i class="far fa-comment-alt"></i> 5
          </div>
        </li>
        <li class="row">
          <div class="float-leftcpt-2 pl-3">
            <i class="fas fa-exclamation-circle"></i>
          </div>
          <div class="float-left col-9 lh-condensed p-2">
            <strong> Using keyboard events impedes media recodrings</strong>
            <br>
            <span class="ml-4">#13238 opened 5 hours ago by Je4hel</span>
          </div>
          <div class="float-right col-2">
            <i class="far fa-comment-alt"></i> 5
          </div>
        </li>
        <li class="row">
          <div class="float-leftcpt-2 pl-3">
            <i class="fas fa-exclamation-circle"></i>
          </div>
          <div class="float-left col-9 lh-condensed p-2">
            <strong> Using keyboard events impedes media recodrings</strong>
            <br>
            <span class="ml-4">#13238 opened 5 hours ago by Je4hel</span>
          </div>
          <div class="float-right col-2">
            <i class="far fa-comment-alt"></i> 5
          </div>
        </li>
        <li class="row">
          <div class="float-leftcpt-2 pl-3">
            <i class="fas fa-exclamation-circle"></i>
          </div>
          <div class="float-left col-9 lh-condensed p-2">
            <strong> Using keyboard events impedes media recodrings</strong>
            <br>
            <span class="ml-4">#13238 opened 5 hours ago by Je4hel</span>
          </div>
          <div class="float-right col-2">
            <i class="far fa-comment-alt"></i> 5
          </div>
        </li>
        <li class="row">
          <div class="float-leftcpt-2 pl-3">
            <i class="fas fa-exclamation-circle"></i>
          </div>
          <div class="float-left col-9 lh-condensed p-2">
            <strong> Using keyboard events impedes media recodrings</strong>
            <br>
            <span class="ml-4">#13238 opened 5 hours ago by Je4hel</span>
          </div>
          <div class="float-right col-2">
            <i class="far fa-comment-alt"></i> 5
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>