<section class="container-fluid headerBg">
  <div class="container">
    <div class="row titleHeader">
      <div class="col-sm">
        <i class="fab fa-old-republic"></i>
        <a href="#" class="titleLink">facebook / react</a>
      </div>
      <div class="col-sm text-right">
        <div class="headerIcon">
          <a href="#" class="innerLeft">
            <i class="fas fa-eye"></i> Watch
            <i class="fas fa-sort-down"></i>
          </a>
          <a href="#" class="innerRight">6,136</a>
        </div>
        <div class="headerIcon">
          <a href="#" class="innerLeft">
            <i class="fas fa-star"></i> Unstar</a>
          <a href="#" class="innerRight">6,136</a>
        </div>
        <div class="headerIcon">
          <a href="#" class="innerLeft">Fork</a>
          <a href="#" class="innerRight">6,136</a>
        </div>
      </div>
    </div>
    <div class="row headerTabs">
      <div class="col-sm">
        <nav>
          <ul class="headerLink">
            <li>
              <a routerLink="/Code" routerLinkActive="active">
                <i class="fas fa-angle-left"></i><i class="fas fa-angle-right"></i> Code</a>
            </li>
            <li>
              <a routerLink="/Issues" routerLinkActive="active">
                <i class="fas fa-exclamation-circle"></i> Issues <span class="badge badge-pill badge-light">391</span></a>
            </li>
            <li>
              <a routerLink="/PullRequests" routerLinkActive="active">
                <i class="fas fa-code-branch"></i> Pull Requests <span class="badge badge-pill badge-light">91</span></a>
            </li>
            <li>
              <a routerLink="/Projects" routerLinkActive="active">
                <i class="fas fa-project-diagram"></i> Projects <span class="badge badge-pill badge-light">0</span></a>
            </li>
            <li>
              <a routerLink="/Wiki" routerLinkActive="active">
                <i class="fas fa-book-open"></i> Wiki</a>
            </li>
            <li>
              <a routerLink="/Insights" routerLinkActive="active">
                <i class="far fa-chart-bar"></i> Insights</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
<section class="container">
<router-outlet></router-outlet>
</section>