.headerBg {
  background-color: #f6fbfb;
  border-bottom: 1px solid #ccced0;
    margin-bottom: 20px;
}
.headerIcon {
    display: inline-block;
    margin: 0;
    margin-left: 30px;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
    border: 1px solid #1b1f2333;
    padding: 2px 0;
    font-size: 12px;
    border-radius: 3px;
        font-weight: bold;
}
ul.headerLink li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

ul.headerLink {
}
a {
  text-decoration: none;
  color: #21272d;
}
a:hover {
  text-decoration: none;
}
.titleHeader .fa-old-republic {
    color: #ccc;
}

.titleHeader .titleLink {
    color: #1964d3;
    margin-left: 5px;
    font-weight: bold;
}

.titleHeader {
    padding: 10px 0;
}

.headerIcon .innerLeft {
    border-right: 1px solid #b7cace;
    padding: 4px 5px;
}

.headerIcon .innerLeft .fa-sort-down {
    top: -2px;
    position: relative;
}

.headerIcon .innerRight {
    background: #fff;
    padding: 2px 5px;
}

.headerLink a {
    color: #586069;
    padding: 5px 10px;
}


.headerLink a i {
    color: #1b1f234d;
}

.headerLink a .badge {
    background-color: #1b1f2314;
    color: #635c5c;
}

.headerLink a.active {
    background: #fff;
    padding-bottom: 10px;
    border-top: 3px solid #e36209;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding-top: 9px;
}

.headerTabs {
    margin-bottom: -9px;
    margin-top: 25px;
}
.searchFilters .dropdown-toggle {
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
    border: 1px solid #1b1f2333;
    color: #000;
}

.searchFilters .issueSearch .form-control {
    background: #f6fbfb;
}

.searchFilters .switchBtn button {
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
}

.sortHeader {
    background: #f4f5f7;
    padding: 15px 0;
    border: 1px solid #ced4da;
    margin: 0;
    font-size: 14px;
}
.sortHeader .sortCount i {/* margin: 0 11px; */}

.sortHeader .sortCount span {
    margin-right: 20px;
}
.sortHeader .sortCount span:last-child {
    color: #777676;
}

.sortHeader .sortList {
    list-style: none;
    margin-bottom: 0;
    text-align: right;
}

.sortHeader .sortList li {
    display: inline-block;
    margin-left: 20px;
}

.sortHeader .sortList li i {
    position: relative;
    top: -3px;
}

.dataList .dataRow {
    border-bottom: 1px solid #ced4da;
    margin-left: 0;
    margin-right: 0;
}

.dataList {
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    font-size: 14px;
    list-style: none;
    padding-left: 0;
}

/* Responsive Styles */

@media (max-width: 992px) {
  ul.headerLink li {
    margin-left: 0;
  }
  .headerLink a i {
    display: none;
  }
  .dataMessage {
    margin-left: 0 !important;
  }
  .sortHeader .sortList li {
    margin-left: 5px
  }
  .headerIcon {
    margin-left: 5px
  }
  ul.headerLink {
    padding-left: 0;
  }
  .headerLink a {
    padding: 5px 3px;
  }
  ul.headerLink li {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  ul.headerLink li {
    margin-right: 0;
  }
  .headerLink a .badge {
    display: none;
  }
  .headerLink a {
    padding: 5px;
  }
  .sortHeader .sortList {
    margin-top: 10px;
  }
}
@media (max-width:576px) {
  .newIssue {
    margin-bottom: 10px;
  }
  .headerBg .container {
    padding-left: 0;
    padding-right: 0;
  }
  .headerTabs {
    font-size: 12px;
  }
  .titleHeader .text-right {
    padding-top: 10px;
}
}