.headerBg {
  background-color: #f6fbfb;
}
.headerIcon {
  display: inline-block;
  margin-right: 30px;
  padding: 10px;
  border: 1px solid #c2d9d9;
}
ul.headerLink li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

ul.headerLink {
  padding-left: 0;
}
a {
  text-decoration: none;
}
.dataRow {
  list-style: none;
  padding-left: 0;
}